<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="was-validated" style="max-width: 360px; margin: auto;" (ngSubmit)="registerProcess()">
          <h1 class="font-weight-normal mb-3 h3">Contact details</h1>
          <div class="form-group">
            <label class="visually-hidden" for="Name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="name" name="name" autofocus [(ngModel)]="customerObj.name" required>
            <div class="invalid-feedback">Please fill in field</div>
          </div>
          <div class="form-group mt-2 mb-2">
            <label class="visually-hidden" for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="customerObj.email"  name="email" required>
            <div class="invalid-feedback">Please fill in field</div>
          </div>
          <div class="form-group mt-2 mb-2">
            <label class="visually-hidden" for="phone">Phone</label>
            <input type="tel" class="form-control" id="phone" placeholder="Contact number" [(ngModel)]="customerObj.phone"  name="phone" required>
            <div class="invalid-feedback">Please fill in field</div>
          </div>
          <button style="display: block;" type="submit" class="me-5 btn btn-success">Confirm</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-6">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="'week'"
        [(viewDate)]="viewDate"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="'week'"
        [(viewDate)]="viewDate"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-6 text-right">
    <h3>{{ viewDate | calendarDate:('weekViewTitle') }}</h3>
  </div>
</div>
<br />
<button style="display: block;" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" class="mb-2 btn btn-primary">Continue</button>
<ng-template
  #weekViewHourSegmentTemplate
  let-segment="segment"
  let-locale="locale"
  let-segmentHeight="segmentHeight"
  let-isTimeLabel="isTimeLabel"
>
  <div
    #segmentElement
    class="cal-hour-segment"
    [style.height.px]="segmentHeight"
    [class.cal-hour-start]="segment.isStart"
    [class.cal-after-hour-start]="!segment.isStart"
    [ngClass]="segment.cssClass"
    (mousedown)="startDragToCreate(segment, $event, segmentElement)"
  >
    <div class="cal-time" *ngIf="isTimeLabel">
      {{ segment.date | calendarDate:'weekViewHour':locale }}
    </div>
  </div>
</ng-template>

<mwl-calendar-week-view
  [viewDate]="viewDate"
  [events]="events"
  [hourSegmentTemplate]="weekViewHourSegmentTemplate"
  [weekStartsOn]="weekStartsOn"
  [dayStartHour]="dayStartHour"
  [dayEndHour]="dayEndHour"
  (beforeViewRender)="beforeViewRender($event)"
>
</mwl-calendar-week-view>
